* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
     url('https://source.unsplash.com/category/landscape/1920x1080');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* <filter-function> values
    /* 

    backdrop-filter: blur(2px);
    backdrop-filter: brightness(60%);
    backdrop-filter: contrast(40%);
    backdrop-filter: drop-shadow(4px 4px 10px blue);
    backdrop-filter: grayscale(30%);
    backdrop-filter: hue-rotate(120deg);
    backdrop-filter: invert(70%);
    backdrop-filter: opacity(20%);
    backdrop-filter: sepia(90%);
    backdrop-filter: saturate(80%);

    */

    /* Multiple filters */
    backdrop-filter: url('https://source.unsplash.com/category/landscape/1920x1080') blur(5px);

    font-size: 62.5%; /* scale font-size in the body proportionally to the rem units*/
}

.countDownTitle {
    font-family: 'Hanalei Fill', serif;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 1.4rem;
    color: #FDE3A7;
    margin: 1.5em auto;
    text-shadow: 2px 2px 4px #000000;
}

.myClock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clockDays,
.clockHours,
.clockMinutes,
.clockSeconds {
    display: flex;
    flex: 1;
    text-align: center;
    color: #fff;
    font-family: 'Space Mono', Helvetica;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 2.5rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.deadlineInput {
    margin: 30px auto;
    width: 33vw;
    border-radius: 10px;
    font-family: 'Roboto Mono', Helvetica;
    font-size: 2rem;
    padding: 20px auto;
    text-align: center;
    margin-top: 2rem;
}

.submitBtn {
    margin: 35px auto;
    display: block;
    font-family: 'Space Mono', Helvetica;
    font-size: 2rem;
    background-color: rgb(247, 241, 167);
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 3px;
    color: #6C7A89;
}

.submitBtn:hover {
    background-color: rgb(101, 207, 75);
    color: whitesmoke;
}

@media screen and (max-width:320px) {
    .countDownTitle {
        font-size: 2rem;
        letter-spacing: 1rem;
    }
    .clockDays,
    .clockHours,
    .clockMinutes,
    .clockSeconds {
        display: flex;
        flex: 1;
        text-align: center;
        font-size: 1.5rem;
        margin: 1rem auto;
    }
    .deadlineInput {
        margin: 30px auto;
        width: 75vw;
        font-size: 1.5rem;
        padding: 20px auto;
        text-align: center;
    }
}

@media screen and (min-width:321px) and (max-width:639px) {
    .countDownTitle {
        font-size: 1.6rem;
        letter-spacing: 1.5rem;
    }
    .clockDays,
    .clockHours,
    .clockMinutes,
    .clockSeconds {
        display: flex;
        flex: 1;
        text-align: center;
        font-size: 3rem;
        margin: 1rem;
    }
    .deadlineInput {
        margin: 3rem auto;
        width: 75vw;
        font-size: 1.7rem;
        padding: 20px auto;
        text-align: center;
    }
}

@media screen and (min-width:640px) and (max-width:959px) {
    .countDownTitle {
        font-size: 2rem;
        letter-spacing: 1rem;
    }
    .clockDays,
    .clockHours,
    .clockMinutes,
    .clockSeconds {
        display: flex;
        flex: 1;
        text-align: center;
        font-size: 1.5rem;
        margin: 1rem auto;
    }
    .deadlineInput {
        margin: 30px auto;
        width: 75vw;
        font-size: 1.5rem;
        padding: 20px auto;
        text-align: center;
    }
}