* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/img/tree-bg.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(0);
}

.countDownTitle {
    font-family: 'Hanalei Fill', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em !important;
    letter-spacing: 1.5rem !important;
    color: #FDE3A7;
    margin: 1.5em auto;
    text-shadow: 2px 2px 4px #000000;
}

.myClock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clockDays,
.clockHours,
.clockMinutes,
.clockSeconds {
    display: flex;
    flex: 1;
    text-align: center;
    color: #fff;
    font-family: 'Space Mono', Helvetica;
    font-size: 1.5em;
    font-weight: 400;
    margin: 1.5em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.deadlineInput {
    margin: 30px auto;
    width: 33vw;
    border-radius: 10px;
    font-family: 'Roboto Mono', Helvetica;
    font-size: 2rem;
    padding: 20px auto;
    text-align: center;
    margin-top: 2em;
}

.submitBtn {
    margin: 35px auto;
    display: block;
    font-family: 'Space Mono', Helvetica;
    font-size: 2rem;
    background-color: rgb(247, 241, 167);
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 3px;
    color: #6C7A89;
}

.submitBtn:hover {
    background-color: rgb(101, 207, 75);
    color: whitesmoke;
}

@media screen and (max-width:320px) {
    .countDownTitle {
        font-size: 2em;
        letter-spacing: 1rem;
    }
    .clockDays,
    .clockHours,
    .clockMinutes,
    .clockSeconds {
        display: flex;
        flex: 1;
        text-align: center;
        font-size: 1.5em;
        margin: 1rem auto;
    }
    .deadlineInput {
        margin: 30px auto;
        width: 75vw;
        font-size: 1.5rem;
        padding: 20px auto;
        text-align: center;
    }
}

@media screen and (min-width:321px) and (max-width:639px) {
    .countDownTitle {
        font-size: 1.6em;
        letter-spacing: 1.5rem;
    }
    .clockDays,
    .clockHours,
    .clockMinutes,
    .clockSeconds {
        display: flex;
        flex: 1;
        text-align: center;
        font-size: 1.5em;
        margin: 2rem;
    }
    .deadlineInput {
        margin: 30px auto;
        width: 75vw;
        font-size: 1.7rem;
        padding: 20px auto;
        text-align: center;
    }
}

@media screen and (min-width:640px) and (max-width:959px) {
    .countDownTitle {
        font-size: 2em;
        letter-spacing: 1rem;
    }
    .clockDays,
    .clockHours,
    .clockMinutes,
    .clockSeconds {
        display: flex;
        flex: 1;
        text-align: center;
        font-size: 1.5em;
        margin: 1rem auto;
    }
    .deadlineInput {
        margin: 30px auto;
        width: 75vw;
        font-size: 1.5rem;
        padding: 20px auto;
        text-align: center;
    }
}